<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lenovo.spiketask">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/film"
        android:label="@string/app_name"
        android:logo="@drawable/film"
        android:roundIcon="@drawable/film"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Fullscreen">

        </activity>
        <activity
            android:name=".SignupActivity"
            android:theme="@style/Fullscreen" />
        <activity
            android:name=".MainActivity"
            android:label="HomePage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".HomeActivity"
            android:label="Browse"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name=".CollectionActivity"
            android:label="@string/title_activity_collection"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SplashActivity"
            android:theme="@style/Fullscreen"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>